/.monaca/*
!/.monaca/project_info.json
/platforms
.DS_Store
*.swp
.vscode/
typings/
node_modules
www/keys.js
testRecord.save()
.then(function(m){
alert("success:" + JSON.stringify(m));
})
.catch(function(m){
alert("fail:" + JSON.stringify(m));
});
